<html>

    <body>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="assets/highcharts.js"></script>
        <script src="assets/data.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>

    
         <div id='title'>
                <h1>Tennis's Big 3: How Dominant Are They?</h1>
        </div>
        <div id='rank_line'></div>
        <script src="js/line.js"></script>
    </body>
</html>